<?php
// ReCaptcha API credentials
$recaptchaSecret = '<client_secret>';

// SMTP server credentials
$smtpServer = 'localhost';
$smtpPort = 25;
$smtpEncryption = 'tls';
$smtpUsername = '<username>';
$smtpPassword = '<password>';

// Contact form mail settings
$mailSender = '<sender_email>';
$mailRecipients = ['<recipient_email>' => '<recipient_name>'];
