// Import custom variables
@import 'variables';

// Import the Bulma framework
@import 'bulma';


// Limit the container width
/*@media(min-width: 720px) {
  .container {
    max-width: 720px !important;
  }
}*/

// Html layout
html {
  overflow-y: auto;
}

// Body layout
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // Black bar layout
  & > .bar {
    flex-grow: 0;
    flex-shrink: 0;

    width: 100%;
    height: 40px;
    background: $dark;
  }

  // Inner layout
  & > .inner {
    flex-grow: 1;
    flex-shrink: 0;
  }
}

// Link styling
a {
  border-bottom: 1px $link dotted;

  transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;

  &:hover, &:focus {
    border-bottom-color: $link-hover;
  }

  &.icon {
    border-bottom: none;
  }
}

// Navbar styling
.navbar {
  @extend .mt-5;
  @extend .mb-6;

  .navbar-item {
    @extend .is-size-6;
    @extend .is-uppercase;
    @extend .has-text-weight-bold;

    a {
      padding: 4px 0px;
      color: $text;
      border-bottom: 2px $background solid;

      &:hover, &:focus {
        border-bottom-color: $text;
      }

      &.active {
        color: $link;
        border-bottom-color: $link;
      }
    }
  }

  .navbar-logo {
    @extend .mx-3;
    @extend .px-0;
    @extend .py-0;
  }

  .navbar-burger {
    @extend .mr-3;

    border-bottom: none;
    margin-top: auto;
    margin-bottom: auto;
  }
}

// Main styling
.main {
  @extend .content;
  @extend .my-6;
}

// Footer styling
.footer {
  @extend .content;

  @extend .mt-6;
  @extend .mb-5;
  @extend .py-0;

  background: none;

  @extend .is-size-8;
  @extend .has-text-grey;
  @extend .has-text-centered;

  a {
    color: $grey;
    border-bottom-color: $grey;

    &:hover, &:focus {
      color: $link-hover;
      border-bottom-color: $link-hover;
    }
  }

  .level-item {
    @extend .mx-0;
  }

  .icon {
    width: 2.75rem;
    height: 2.75rem;
  }
}

// Content styling
.content {
  // Bolder text
  b, strong {
    font-weight: bolder;
  }

  // Headings
  @for $i from 1 through 6 {
    h#{$i} {
      @extend .is-family-secondary;
      @extend .has-text-weight-normal;
      @if $i <= 2 {
        @extend .has-text-primary;
      }
    }
  }

  // Sections
  .section {
    &:first-child {
      @extend .pt-0;
    }
    &:last-child {
      @extend .pb-0;
    }
  }

  // Lead text
  .lead {
    @extend .is-size-5;
    @extend .has-text-weight-light;
  }

  // Social
  .social {
    .column {
      @extend .py-1;
    }
    .media {
      align-items: center;
    }
  }
}

// Other layout
.project {
  display: flex;
  position: relative;
  align-items: center;
}
img.artwork {
  width: 6rem;
}
.content {
  & > *:last-child {
    margin-bottom: 0;
  }
}
