{% extends "index.twig" %}

{% block main %}
  <section class="section content">
    <h2>About me</h2>

    <p>Hi, I'm Danae, a composer and technical audio desgner for games and interactive media. Within the field of music and technology my specialty lies in composing applied music and designing systems and software, in which I combine the things I enjoy doing and turn them into my profession. In 2020 I graduated as Bachelor of Music at the <a target="_blank" href="https://www.hku.nl/Home.htm">HKU University of the Arts</a>, where I specialized in composition, system design and narrative design.</p>
    <p>Apart from writing music and developing software, I enjoy storytelling and building often fantastical worlds to accompany these stories. I envision that music can strengthen and add to the immersion in a story and world. This is the main reason why I love to work on music and audio integration for narrative games. Because gameplay, narrative and audio can be tightly integrated in narrative games, I like to be involved with the conceptualization of such games as well. Understanding the underlying concept of the narrative and how other parts of the game relate to that, enables me to create a fitting music design for the game.</p>
    <p>For more details on my education and work experience, please refer to my <a target="_blank" href="{{ links.resume }}">resume</a>. For any questions about me or the projects I worked on, you can always <a href="{{ base_path_for(pages.contact) }}">shoot me a message</a>!

    <div class="box px-3 py-3">
      <img class="image" src="{{ assets }}/images/about.png">
    </div>
  </section>
{% endblock %}
