{% extends "index.twig" %}

{% block main %}
  <section class="section content">
    <h2>About me</h2>

    <p>I'm Danae Dekker, a composer and technical audio designer with a passion for musical and fantastical storytelling, and I love to work on narrative and immersive games.</p>

    <p>In 2020 I graduated as Bachelor of Music at the <a target="_blank" href="https://www.hku.nl/en/home">HKU University of the Arts</a>, where I specialized in composition and system design and wrote a <a href="{{ about.thesis }}">thesis</a> about nonlinear music in narrative games. Within my work I envision that music can strengthen and add to the immersion in a story and world, and because gameplay, narrative and audio can be tightly integrated in narrative games, my passion lies in conjuring up music for those games. I consider understanding the underlying concept of the narrative, and how other parts of the game relate to that, as another important part of my process to enable myself to create an immersive music design fitting for the game.</p>

    <p>Besides my composition and audio design work, I also founded my own indie game studio, <a href="https://audune.com/">Audune Games</a>, where I'm guided by my own drive for telling stories and sharing them with the world. In my free time I love tinkering with code, creating fantastical worlds, playing both immersive and creative games like the Ori franchise and Minecraft, and indulging myself in alternative fashion aesthetics.</p>

    <p>For more details on my education and work experience, please refer to my <a target="_blank" href="{{ about.resume }}">resume</a>.</p>

    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img class="image" src="{{ assets }}/images/about.png">
        </figure>
      </div>
    </div>

    <h2>Get in touch</h2>

    <p>If you have any questions about the projects I've worked on, or perhaps have an interesting collaboration opportunity, you can <a href="#" _target="_blank" data-mailto="{{ links.mail }}">shoot me an email message</a> or use one of the social media links in the footer to send me a chat request!
  </section>
{% endblock %}
