{% extends "index.twig" %}

{% block main %}
  <section class="section content">
    <h2>Music commissions</h2>

    <p>Have you always wanted to have your own personal ringtone? Is your tabletop character in desperate need of a heroic theme song? Do you want to have splashing intro for your video, or an accompanying musical piece for your artwork? Or are you looking for a personal gift for a special person or occasion?</p>
    <p>I'm currently open for <b>personal music commissions</b>, which means that I compose a musical piece based on your description. In the process you will get two revisions of the composition, and when it's done, you will recieve the high quality audio of your commissioned piece. You're free to listen to, share or gift the commisioned music, as long as it's for personal use and you don't claim it as your own.</p>
    <p>If you want to order a music commission, <a href="{{ base_path_for(pages.contact) }}">send me a message</a> with your request, including the genre and length of the piece, and reference tracks. From that I'll create a musical piece that maches your description as closely as possible. Payment is due before I start working on a commission, and made in <b>EUR</b> using a PayPal invoice or bank transfer. Please refer to the <a href="{{ links.commissions_tos }}">terms of service</a> for a detailed overview of the requirements of a request and the commissioning process.</p>

    <p class="lead">For every commission ordered until December 31, I offer a <b>20% discount</b> on both commission types!</p>

    <div class="columns">
      <div class="column">
        <div class="card inverted">
          <div class="card-content has-text-centered">
            <p class="lead mb-3">Ringtones or short clips</p>
            <p class="mb-0 has-text-grey-light"><s>€ 79,00</s></p>
            <h1 class="my-3">€ 64,20</h1>
            <p>
              Price for maximal 30 seconds<br>
              Includes 2 revisions
            </p>
          </div>
        </div>
      </div>

      <div class="column">
        <div class="card inverted">
          <div class="card-content has-text-centered">
          <p class="lead mb-3">Musical pieces</p>
            <p class="mb-0 has-text-grey-light"><s>€ 139,00</s></p>
            <h1 class="my-3">€ 111,20</h1>
            <p>
              Price per minute of music<br>
              Includes 2 revisions
            </p>
          </div>
        </div>
      </div>
    </div>

    <p class="is-size-8">All listed prices include PayPal transaction fees where applicable, but exclude currency conversion fees. Note that <a href="{{ links.dutch_tax_exemptions }}">composing music professionally is exempt from tax</a> in the Netherlands, so all listed prices don't include or require additional VAT.</p>

    <p class="is-size-8">By purchasing a personal music commission, you automatically agree to the <a href="{{ links.commissions_tos }}">terms of service for personal music commissions</a>. Please read these carefully before buying!</p>
  </section>
{% endblock %}
