{% extends "index.twig" %}

{% block main %}
  <section class="section content">
    <p class="lead">Hi, I'm Danae and I create magical and ethereal music for games! I'm a composer and technical audio designer with a passion for musical and fantastical storytelling and I love to work on narrative and immersive games.</p>

    <div class="card">
      <div class="card-image">
        <figure class="image is-16by9">
          <iframe class="has-ratio" src="{{ home.showreel_embed }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </figure>
      </div>
    </div>

    <p>I'm fascinated by telling stories in music, often in a fantastical and whimsical setting, which I apply in <a href="{{ base_path_for(pages.work) }}">autonomous compositions, games and interactive media</a>. Moreover, I have a broad knowledge of software and coding skills to implement music and audio in any interactive project.</p>
    
    <p>I'm currently available for freelance and contract-based composition and technical audio design work, and I'm open for <a href="{{ base_path_for(pages.music) }}">personal music commissions</a> as well! If you wish to contact me about my work or interesting collaboration opportunities, don't hesitate to <a href="{{ base_path_for(pages.about) }}">send me a message or chat with me</a>!</p>
  </section>
{% endblock %}
